@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
body {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 600;
}
@theme inline {
  --color-darkMode: #57534d;
  --color-darkModText: white;
  --color-darkModSubText:  #d6d3d1
}
.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, #7575fe49 0%, transparent 70%);
}
.quarter-circle {
  width: 300px;
  height: 300px;
  border-radius: 100% 0 0 0;
  background: radial-gradient(circle at bottom right, #7575FE30 0%, transparent 70%);
  overflow: hidden;
}
}